html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
    /*отменяет маркеры*/
}

.flex {
    display: flex;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    /*устанавливает прозраченый фон*/
    cursor: pointer;
    /*чтоб было видно курсор*/
}

.btn-reset:hover {

    background-color: #EB7A15;
    color: #ffffff;
    border: #ffffff;
}

.btn {
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 32px;
    position: absolute;
    width: 161px;
    height: 45px;
    left: 280px;
    top: 674px;
    background: #EB7A15;
    color: white;
    border-radius: 6px;
}

.container {
    width: 1920px;
    padding: 0 0px;
    margin: 0 auto;
}

/* голова */
.header {

    top: 0;
    right: 0;
    left: 0;
}

.header-container {
    align-items: center;
    box-sizing: border-box;
}

.header-nav {
    width: 1920px;
    height: 100px;
    padding: 10px 0px;
    background: #FDFCFB;
    padding-left: 280px;
    display: block;
}

.header-list-item:not(:last-child) {
    margin-right: 32px;
}

.header-list .item-logo {
    margin-right: 164px;
}

.header-list-item a {
    text-decoration: none;
    color: black;
}

.header-list-item a:hover {
    color: rgb(74, 74, 74);
}

.header-list-item {
    margin-top: 34px;
}

.header-list-item2 {
    margin-top: 28px;
    margin-right: 8px;
}

.header-list-item3 {
    margin-top: 32px;
    margin-right: 8px;
}

/* секция 1*/
.section1 {

    top: 0;
    right: 0;
    left: 0;
    height: 437px;
    background-color: #D0DFE9;
}

.section1-container {
    align-items: center;
    box-sizing: border-box;
}

.section1-title {
    width: 944px;
    height: 173px;
    font-weight: 700px;
    font-size: 80px;
    font-family: 'Ubuntu';
    line-height: 86px;
    margin-left: 488px;
    margin-top: 76px;
    text-align: center;
}

.section1-img {
    margin-left: 130px;
}

/* секция 2*/
.section2 {
    height: 194px;

}

.section2-items {
    border-right: 3px solid #D0DFE9;
}

.section2-container1 {
    margin-left: 260px;
}

.section2-zag1 {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
}

.section2-title-1 {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 20px;
    width: 200px;

}


.section2-container2 {
    margin-left: 24px;


}

.section2-zag2 {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
}

.section2-title-2 {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 20px;
    width: 200px;

}

.section2-img1 {
    margin-top: -50px;

}

.section2-container3 {
    margin-left: 24px;

}

.section2-zag3 {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    width: 300px;
    height: 69px;
}

.section2-title-3 {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 20px;
    width: 200px;

}

.section2-img2 {
    margin-top: -60px;

}

.section2-container4 {
    margin-left: 24px;

}

.section2-zag4 {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    width: 205px;
    height: 35px;
}

.section2-title-4 {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 20px;
    width: 200px;
    margin-top: 53px;

}

.section2-img3 {
    margin-top: -50px;
}

/* секция 3*/

.section3-img {
    margin-top: 110px;
    margin-left: 260px;
}

/* секция 4*/
.section4-img {
    width: 820px;
    height: 665px;
    margin-left: 236px;
    margin-top: 60px;
}

.section4-zag-1 {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 80px;
    line-height: 56px;
    width: 1019px;
    height: 57px;
    margin-top: 90px;
    margin-left: 450px;
}

.section4-items {
    margin-top: 130px;
}

.section4-zag-2 {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    color: #EB7A15;
    text-align: right;
    width: 100px;
    height: 72px;

}

.section4-title-4 {
    font-family: 'Ubuntu';
    width: 400px;
    height: 58px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-left: 24px;
}

.section4 {
    height: 1000px;
}

/* секция 5*/
.bacgraun {
    background-color: #D0DFE9;
    height: 4760px;



}

.section5-zag-1 {
    font-family: 'Ubuntu';
    margin-left: 610px;
    font-weight: 700;
    font-size: 80px;
    line-height: 56px;
    width: 700px;
    height: 57px;
    font-style: normal;
    position: absolute;
    margin-top: 120px;
}

.unlim {
    border-radius: 5px;
    border: 2px solid white;
    width: 388px;
    height: 509px;
    margin-left: 265px;
    margin-top: 277px;
}

.section5-zag-2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    margin-left: 24px;
}

.section5-title-1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-left: 24px;
    height: 179px;
    width: 340px;
}

.section5-btn {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-left: 24px;
    height: 50px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 140px;
}

.section5-btn-1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-left: 24px;
    height: 50px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 215px;
}

.section5-btn-0 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-left: 24px;
    height: 50px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 100px;
}

.tarif-1 {
    background-color: white;
    border-radius: 5px;
    width: 962px;
    height: 1064px;
    margin-left: 40px;
    margin-top: 277px;
}

.section5-img-1 {
    margin-top: 40px;
    margin-left: 60px;
}

.section5-title-2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 363px;
    height: 28px;
    margin-left: 55px;
    margin-top: 88px;
}

.section5-btn-pod {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-left: 100px;
    height: 50px;
    width: 400px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 73px;
}

.WI-fi-plus {
    border-radius: 5px;
    border: 2px solid white;
    width: 388px;
    height: 862px;
    margin-left: 265px;
    margin-top: 100px;
}

.section5-title-3 {
    margin-top: 24px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-left: 24px;
}

.tarif-2 {
    background-color: white;
    border-radius: 5px;
    width: 962px;
    height: 989px;
    margin-left: 40px;
    margin-top: 100px;
}

.Tabarruk {
    border-radius: 5px;
    border: 2px solid white;
    width: 388px;
    height: 554px;
    margin-left: 265px;
    margin-top: 100px;
}

.section5-title-4 {
    width: 340px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-left: 24px;
    margin-top: 24px;
}

.tarif-3 {
    background-color: white;
    border-radius: 5px;
    width: 962px;
    height: 389px;
    margin-left: 40px;
    margin-top: 100px;
}


.Discount {
    border-radius: 5px;
    border: 2px solid white;
    width: 388px;
    height: 600px;
    margin-left: 265px;
    margin-top: 100px;
}

.section5-title-5 {
    width: 340px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-left: 24px;
    margin-top: 24px;
}

.tarif-4 {
    background-color: white;
    border-radius: 5px;
    width: 962px;
    height: 389px;
    margin-left: 40px;
    margin-top: 100px;
}

.Study {
    border-radius: 5px;
    border: 2px solid white;
    width: 388px;
    height: 610px;
    margin-left: 265px;
    margin-top: 100px;
}

.section5-title-6 {
    width: 340px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-left: 24px;
    margin-top: 24px;
}

.tarif-5 {
    background-color: white;
    border-radius: 5px;
    width: 962px;
    height: 623px;
    margin-left: 40px;
    margin-top: 100px;
}

.section5-title-izbran {
    width: 842px;
    height: 44px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 60px;
    margin-top: 5px;
}

/* секция 6*/
.section6-zag-1 {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 46px;
    line-height: 56px;
    width: 632px;
    height: 57px;
    margin-left: 660px;
    margin-top: 162px;
}

.section6-item {
    border: 2px solid #D0DFE9;
    height: 80px;
    width: 665px;
    border-radius: 5PX;
    margin-top: 40px;
}

.section6-text {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    margin-left: 20px;
}

.section6-items2 {
    margin-left: 40px;
}

.section6-items1 {
    margin-left: 291px;
}

.section6-simvol-1 {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 48px;
    line-height: 34px;
    margin-top: 21px;
    margin-left: 368px;

}

.section6-simvol-2 {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 48px;
    line-height: 34px;
    margin-top: 21px;
    margin-left: 247px;
}

.section6-simvol-3 {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 48px;
    line-height: 34px;
    margin-top: 21px;
    margin-left: 162px;
}

.section6-simvol-4 {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 48px;
    line-height: 34px;
    margin-top: 21px;
    margin-left: 252px;
}

.section6-simvol-5 {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 48px;
    line-height: 34px;
    margin-top: 21px;
    margin-left: 178px;
}

.section6-simvol-6 {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 48px;
    line-height: 34px;
    margin-top: 21px;
    margin-left: 114px;
}

.section6-simvol-7 {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 48px;
    line-height: 34px;

    /* margin-left: 360px;*/
}
.daun{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 140%;
margin:82px 24px 23px 24px;
}

/*там где дети*/
.footer {

    padding-top: 490px;

    background-image: url(../IMG/FOOTER.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 835px;
    width: 1920px;
}

.footer .Container {
    margin-left: 240px;
}

.LEFT {
    margin-left: 280px;
}

.LEFT .firs-line p a {
    text-decoration: none;
    color: black;
}

.Left {
    margin-top: 82px;
}

.Right div {
    margin-right: 49px;
}

.Right div ul li a {
    text-decoration: none;
    color: black;
}

.Bottom {
    margin-top: 48px;
}

.Left div {
    margin-right: 44px;
}

.footer li span {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.footer li {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.footer li:not(:first-child) {
    margin-top: 24px;
}

.footer .firs-line p {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.footer .firs-line p:first-child {
    width: 158;
    margin-right: 48px;
    padding-left: 36px;
    background-image: url(../IMG/FOOTER-door.png);
    background-repeat: no-repeat;

}

.footer #hi {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    Color: #000000;
}

.Right {
    margin-left: 164px;
}

.section6-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 28px;
    height: 35px;
}

.dropbtn {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 48px;
    line-height: 34px;
    margin-left: 350px;
    margin-top: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.dropbtn1 {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 48px;
    line-height: 34px;
    margin-left: 350px;
    margin-top: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: transparent;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 665px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}