html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: #E5E5E5;
    font-family: 'Ubuntu', sans-serif;
    width: 1920px;
    padding: 0 0;
    margin: 0 auto;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;  /*отменяет маркеры*/
}

.flex {
    display: flex;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;   /*устанавливает прозраченый фон*/
    cursor: pointer;  /*чтоб было видно курсор*/
}

.btn {
    padding: 12px 32px;
    width: 161px;
    height: 45px;
    left: 280px;
    top: 674px;
    background: #EB7A15;
    color: white;
    border-radius: 6px;
    margin-left: 280px;
    margin-top: 5px;
}

.btn:hover {
    background-color: rgb(208, 107, 19);
}

/* HEADER */
.header {
    width: 1920px;
    height: 100px;
}

.header-container {
    align-items: center;
    box-sizing: border-box;
}

.header-nav {
    padding: 10px 0px;
    background: #FDFCFB;
    padding-left: 280px;
    display: block;
}

.header-list-item:not(:last-child) {
    margin-right: 32px;  
}

.header-list .item-logo {
    margin-right: 164px; 
}

.header-list-item a {
    text-decoration: none;
    color: black;
}
.header-list-item a:hover {
    color: #F28B00;
}

.header-list-item {
    margin-top: 34px;
}

.header-list-item2 {
    margin-top: 28px;
    margin-right: 8px;
}

.header-list-item3 {
    margin-top: 32px;
    margin-right: 8px;
}

/* SALE */
.sale {
    height: 1080px;
    width: 1920px;
    background-color: rgb(247, 253, 255);
}

.sale-container {
    align-items: center;
    box-sizing: border-box;
}

.sale-list {
    padding: 38px 800px 52px 285px;
}

.sale-list-item:not(:last-child) {
    margin-right: 62px;
}

.sale-list-item1 {
    margin-right: 7.35px;
}

.sale-list-item {
    padding-top: 2px;   
}

.sale-list-item a {
    text-decoration: none;
    color: #8f8f8f;
}

.sale-list-item a:hover {
    color: black;
}

/*СЛАЙД-ШОУ*/
.slidershow-container {
    width: 1920px;
    height: 980px;
    margin: auto;
    background-color: white;
}

/* СКРОЕМ ИЗОБРАЖЕНИЯ */

.mySlides {
    display: none;
}

/* КНОПКИ далее и назад */
.prev, .next {
    cursor: pointer; /* HAND */
    padding: 16px;
    color: rgba(204, 204, 204, 1);
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease; /* Изменяет св-ва СSS: ДЛИТЕЛЬНОСТЬ Временная функция */
    border-radius: 0 1px 1px 0;
}

.prev {
    margin-right: 179.3px;
}

/* КНОПКА далее ВПРАВО */
.next {
    right: 0;
    border-radius: 1px 0 0 1px;
}

/* изменение ФОНА ПРИ НАВЕДЕНИИ */
.prev:hover, .next:hover {
    color: rgba(0, 0, 0, 0.8);
}

.slide-data {
    margin-right: 178px;
    margin-top: 30px;
    width: 148px;
    height: 21px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #080708;
}

.navigation-slide {
    margin: 154px 82.32px 166px 271px;
}

/* ТЕКСТ НАЗВАНИЯ КАРТИНКИ */
.mySlides-text {
    margin: 32px 0px 0px 281px;
    width: 552px;
    height: 92px;
    left: 281px;
    top: 446px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.mySlides-h1 {
    margin: 0px 0px 0px 281px;
    width: 608px;
    height: 152px;
    left: 281px;
    top: 262px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 95%;
    letter-spacing: -0.01em;
    color: black; 
}

.slide-text{
    color:  #EB7A15;;
}

.mySlides-main {
    padding-top: 200px;
}

.btn-slide {
    margin-top: 136px;
}

/* Затухающая анимация */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* SERVICES */
.services {
    background-color: rgba(199, 217, 231, 1);
    width: 1920px;
    height: 3830px;
    position: absolute;
}

.services-h1 {
    margin-left: 283px;
    font-weight: bold;
    padding-top: 102px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 86px;
    letter-spacing: -1px;
    color: #121C42;
}

.services-title-orange {
    color: #EB7A15;
}

.services-default {
    padding-bottom: 60px;
    margin-left: 277px;
    margin-top: 152px;
    width: 1363px;
    height: 630px;
    left: 0px;
    top: 0px;
    background: linear-gradient(104.25deg, rgba(185, 202, 214, 0.2) 0%,
    rgba(232, 234, 238, 0.2) 100%), rgba(241, 241, 241, 0.1);
    box-shadow: inset 0px 3.125px 12.5px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(18.75px);
    border-radius: 10px;
}

.services1 {
    background-image: url(../IMG/Internet\ \(home\).png);
    background-repeat: no-repeat;
    background-position: center left;
}

.services2 {
    background-image: url(../IMG/phone\ \(home\).png);
    background-repeat: no-repeat;
    background-position: center left;
}

.services3 {
    background-image: url(../IMG/TV\ \(home\).png);
    background-repeat: no-repeat;
    background-position: center left;
}

.services4 {
    background-image: url(../IMG/Hosting\ \(home\).png);
    background-repeat: no-repeat;
    background-position: center left;
}

.services-h2 {
    width: 618px;
    padding-top: 60px;
    margin-left: 656px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 53.7549px;
    line-height: 95%;
    color: #000000;
}

.services-title-orange {
    color: rgba(235, 122, 21, 1);
}

.services-text {
    width: 627px;
    margin-top: 24px;
    margin-left: 656px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: #121C42;
}

.services-buttons {
    position:absolute;
    bottom: 60px;
}

.btn1 {
    margin-left: 656px;
    margin-right: 150px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #F5F5F5;
    background-color: rgba(235, 122, 21, 1);
    padding: 12px 32px;
    width: 232px;
    height: 52px;
    border-radius: 6px;
}

.btn1:hover {
    background-color: rgb(208, 107, 19);
}

.btn2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    border: 1px solid black;
    padding: 12px 32px;
    width: 270px;
    height: 52px;
    border-radius: 6px;
}

.btn2:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

/* RESURSES */
.block-resurses {
    position: absolute;
    width: 1600px;
    height: 244px;
    top: 4700px;
    background: linear-gradient(104.25deg, rgba(255, 255, 255, 0.2) 0%, rgba(232, 234, 238, 0.2) 100%), rgba(241, 241, 241, 0.1);
    box-shadow: inset 0px 13.875px 55.5px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(83.25px);
    border-radius: 55.5px;
}

.resurses {
    margin-left: 180px;
}

.resurses-item {
    width: 597px;
    height: 46px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 95%;
    color: #000000;
    margin-top: 99px;
    margin-left: 120px;
}

.resurses-item-play, .resurses-item-TW {
    width: 213.92px;
    height: 68.07px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 58.3421px;
    line-height: 67px;
    color: black;
    margin-top: 80px;
}

.resurses-item-play a, .resurses-item-TW a {
    text-decoration: underline 5px solid black;
    color: black;
}

.resurses-item-play{
    margin-left: 17px;
    padding-left: 87px;
    background-image: url(../IMG/RESURSES-play.png);
    background-position: left center;
    background-repeat: no-repeat;
    color: black;
}

.resurses-item-TW{
    margin-left: 197px;
    padding-left: 87px;
    background-image: url(../IMG/RESURSES-tw.png);
    background-position: left center;
    background-repeat: no-repeat;
    color: black;
}

/* TARIFF */
.tariff {
    position: absolute;
    top: 4820px;
    height: 2000px;
    width: 1920px;
    background-color: rgb(247, 253, 255);
}

.tariff-title, .tariff-title1  {
    width: 1258px;
    height: 80px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 100%;
    color: #080708;
    margin-left: 281px;
    font-weight: bold;
}

.tariff-title {
    padding-top: 160px;
    margin-bottom: 85px;
}

.tariff-list {
    margin-top: 40px;
    margin-left: 279px;
}

.tariff-list2 {
    margin-top: 40px;
    margin-left: 41px;
}

.tariff-item {
    width: 660px;
    height: 350px;
    background: linear-gradient(104.25deg, rgba(185, 202, 214, 0.2) 0%, 
    rgba(232, 234, 238, 0.2) 100%), rgba(241, 241, 241, 0.1);
    box-shadow: inset 0px 3.125px 12.5px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(18.75px);
    border-radius: 10px;
}

.tariff-item:not(:last-child) {
    margin-bottom: 59px;
}

.tariff-item-title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 110%;
    color: #000000;
    margin-left: 33px;
    padding-top: 48px;
    width: 595px;
}

.tariff-item-text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #121C42;
    margin-top: 20px;
    margin-left: 33px;
    width: 595px;
    height: 84px;
}

.tariff-item-btn {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #F5F5F5;
    padding: 12px 32px;
    gap: 10px;
    width: 232px;
    height: 52px;
    background: #EB7A15;
    border-radius: 6px;
    margin-top: 22px;
    margin-left: 33px;
}
.tariff-item-btn:hover {
    background-color: rgb(208, 107, 19); 
}


/*FOOTER*/
.footer{
    position: absolute;
    padding-top: 490px;
    top: 6190px;
    background-image: url(../IMG/FOOTER.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 835px;
    width: 1920px;
}
    
.footer .Container{
    margin-left: 240px;
}

.LEFT {
    margin-left: 280px;
}

.LEFT .firs-line p a {
    text-decoration: none;
    color: black;
}

.Left {
    margin-top: 82px;
}

.Right div {
    margin-right: 49px;
}

.Right div ul li a {
    text-decoration: none;
    color: black;
}

.Bottom {
    margin-top: 48px;
}

.Left div {
    margin-right: 44px;
}

.footer li span{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.footer li {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.footer li:not(:first-child){
    margin-top: 24px;
}

.footer .firs-line p{
    padding: 0; margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.footer .firs-line p:first-child{
    width: 158;
    margin-right: 48px;
    padding-left: 36px;
    background-image: url(../IMG/FOOTER-door.png);
    background-repeat: no-repeat;
   
}

.footer #hi{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    Color: #000000;
}

.Right {
    margin-left: 164px;
}

.bottom-link {
    margin-top: 106px;
    background-image: url(../IMG/FOOTER-play.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 32px;
    text-decoration: underline 3px solid black;
}

.bottom-link2 {
    margin-top: 155px;
    background-image: url(/IMG/FOOTER-tw.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 38px;
    text-decoration: underline 3px solid black;
}