body{
    font-family: 'Ubuntu', sans-serif;
    width: 1920px;
    margin: 0;
    overflow-x:hidden;
}
.flex{
    display: flex;
}
/*Header_Top*/
.Upper{
    justify-content: center;
    height: 100px;
}
.list-rest{
    margin-top: 38px;
}

.list-rest li a {
    text-decoration: none;
    color: black;
}

.Upper img{
    margin-top: 10px;
}
.list-rest, .list-rest li{
    list-style: none;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.list-rest li{
    height: 32px;
}
.list-rest li:not(:first-child){
    margin-left: 32px;
}
.list-rest li:hover{
    color: #F28B00;
    cursor: pointer;
}

.list-rest li a:hover{
    color: #F28B00;
    cursor: pointer;
}

.Li_ico{
    background-repeat: no-repeat;
    background-position-y: -1px;
    background-image: url(../IMG/List_LogIn_ico.svg);
}
.Li_ico:first-child{
    background-image: url(../IMG/List_head_ico.svg);
}
/*Header_bottom*/
.Bottom{
    width: 1900px;
    height: 500px;
    justify-content: center;
    background-image: url(../IMG/Header_bottom_bg.svg);
}
.Bottom h1{
    margin-top: 200px;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 86px;
    color: #121C42;
}
.VeryBottom{
    margin-top: 40px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.teletype{
    width: 348px;
    height: 194px;
}
.teletype h2{
    margin-left: 24px;
    margin-top: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
}
.teletype p{
    width: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    margin-left: 24px;
    margin-top: 79px;
}
.teletype#orange{
    background: #EB7A15;
    border-radius: 20px 0px 0px 20px;
    color: #FFFFFF;
}
.teletype#gray{
background: linear-gradient(104.25deg, rgba(185, 202, 214, 0.5) 0%, rgba(232, 234, 238, 0.5) 100%), rgba(241, 241, 241, 0.2);
box-shadow: inset 0px 3.125px 12.5px rgba(255, 255, 255, 0.4);
backdrop-filter: blur(18.75px);
border-radius: 0px 20px 20px 0px;
color: #121C42;
}
.VeryBottom .text{
    margin-top: 80px;
    width: 850px;
    height: 232px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #121C42;
}
/*Header End*/

/*Benefits*/
.Benefits{
    margin-top: 120px;
    width: 1900px;
    flex-direction: column;
    align-items:  center;
}
.Container{
    width: 1385px;
    flex-direction: column;
}
.Benefits h2{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1.296px;
    color: #121C42;
}
.Benefits .Elem{
    display: flex;
    justify-content: space-between;
    width: 1385px;
    height: 600px;
    margin-bottom: 140px;
}
.Benefits .Elem:last-child{
    margin-bottom: 0;
}
.Benefits .Elem_text{
    flex-direction: column;
    margin-top: 203px;
    width: 535px;
    height: 264px;
}
.Left .Elem_text{
    margin-left: 150px;
}
.Elem_text h3{
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 110%;
}
.Elem_text span{
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #121C42;
}
/*Prices*/
.Prices{
    margin-top: 140px;
    width: 1900px;
    height: 1829px;
    background-color: #D0DFE9;
    flex-direction: column;
    align-items:  center;
}
.Prices h2{
    margin-top: 110px;
    margin-bottom: 81px;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 1.296px;
    color: #121C42;
}
.Prices .Container{
    flex-direction: row;
}
.Prices .Plan-info{
    background: #FFFFFF;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
}
.Prices th{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
    text-align: left;
}
.Prices th:last-child{
    text-align: center;
}
.Prices .TableInfo{
    width: 550px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #000000;
}
 .Price{
    width: 250px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    text-align: right;
    color: #000000;
    text-align: center;
    vertical-align: top;
}
.Prices .Price p{
    margin: 0; padding: 0;
}
.Prices .TableInfo span{
    font-size: 20px;
    line-height: 22px;
}
.Prices .Price span{
    color: #0FBC3F;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
}
.Prices table:not(:last-child){
    border-spacing: 40px 49px;
}
.Plan-info button{
    float: right;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-right: 65px;
    margin-top: 31px;
    margin-bottom: 48px;
    width: 439px;
    height: 45px;
    border: 1px solid #121C42;
    background-color: transparent;
    border-radius: 6px;
}
.Plan-info button:hover{
    background: #EB7A15;
    border: none;
    color: #FFFFFF;
}
/*Plan-type*/
.Plan-type{
    width: 388px;
    height: 509px;
    margin-right: 40px;
    background: linear-gradient(104.25deg, rgba(185, 202, 214, 0.2) 0%, rgba(232, 234, 238, 0.2) 100%), rgba(241, 241, 241, 0.1);
    box-shadow: inset 0px 3.125px 12.5px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(18.75px);
    border-radius: 10px;
}
.Plan-type h3{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    letter-spacing: 1.296px;
    color: #000000;
    margin-left: 24px;
}
.Plan-type p{
    margin: 0; padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #121C42;
    width: 200px;
    margin-left: 24px;
}
.Plan-type button{
    width: 144px;
    height: 45px;
    margin-left: 24px;
    position: absolute;
    margin-top: 214px;

    border: 1px solid #121C42;
    border-radius: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: transparent;
}
.Plan-type button:hover{
    background: #EB7A15;
    border: none;
    color: #FFFFFF;
}
/*Additionals*/
.additionals .container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1360px;
    margin-left: 279px;
}
.additionals h2{
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 100%;
    color: #080708;
    text-align: center;
}
.additionals .container .Elem{
    width: 660px;
    height: 350px;
    border-radius: 10px;
    margin-bottom: 58px;
}
.additionals .container .Elem img{
    width: 229px;
    height: 237px;
    position: absolute;
    width: 219px;
    height: 228px;
    margin-left: 155px;
}
.additionals .container .Elem h3{
    margin-top: 49px;
    margin-left: 33px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 110%;
    color: #000000;
}
.additionals .container .Elem div{
    margin: 0; padding: 0;
    margin-left: 33px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #121C42;
    height: 84px;
}
.additionals .container .Elem div p{
    margin: 0;
    padding: 0;
}
.additionals .container .Elem button{
    margin-top: 52px;
    margin-left: 33px;
    width: 232px;
    height: 52px;
    border: 1px solid #121C42;
    border-radius: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    background-color: transparent; 
}
.additionals .container .Elem button:hover{
    background: #EB7A15;
    border: none;
    color: #FFFFFF;
}
.additionals .container #Plat{
    background-image: url(../IMG/PlatinumBar.svg);
}
.additionals .container #Gold{
    background-image: url(../IMG/GoldBar.svg);
}
.additionals .container #Silver{
    background-image: url(../IMG/SilverBar.svg);
}
.additionals .container #None{
    background-image: url(../IMG/None.svg);
}
/*FAQ*/
.FAQ{
    margin-top: 204px;
    height: 714px;
}
.FAQ h2{
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1.296px;
    color: #121C42;    
    margin-bottom: 80px;
}
.FAQ .Container{
    width: 1360px;
    height: 552px;
    flex-direction: row;
    margin-left: 281px;
}
.FAQ .Container ul{
    list-style: none;
    margin: 0;
}
/*!!!!!!*/
.FAQ .container{
    margin-left: 281px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1360px;
    justify-content: space-around;
}
.FAQ .container .dropdown{
    margin-top: 30px;
    width: 665px;
}

/*footer*/
footer{
    padding-top: 450px;
    background-image: url(../IMG/Footer_BG.svg);
    padding-bottom: 36px;
    background-repeat: no-repeat;
    height: 350px;
}
footer .Container, footer .TopContainer{
    margin-left: 280px;
}
footer .Container{
    flex-direction: row;
    justify-content: space-between;
}
footer ul{
    list-style: none;
}
footer li span{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
footer li {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
footer li:not(:first-child){
    margin-top: 24px;
}
footer .TopContainer p{
    padding: 0; margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
footer .TopContainer p:first-child{
    width: 158px;
    padding-left: 32px;
    background-image: url(../IMG/LoginBlack.svg);
    background-repeat: no-repeat;
}
footer .TopContainer{
    width: 382px; height: 24px;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 82px;
}
footer .Container .Left{
    flex-direction: row;
}
footer #hi{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    Color: #000000;
    margin-bottom: 36px;
    margin-left: 280px;
}



.dropdown {
    margin-right: 10px;
}

.dropdown-menu {
    display: none;
}

.menu-active {
    display: block;
}
.btn{
    padding-left: 24px;
    padding-top: 23px;
    padding-bottom: 23px;
    width: 639px;
    border: 1px solid #C7D9E7;
    border-radius: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #121C42;
    background-color: transparent;
}
.btn span{
    float: right;
    margin-right: 24px;
}
.dropdown-menu{
    list-style: none;
}
.dropdown-item{
    list-style: none;
    text-decoration: none;
    color: rebeccapurple;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}

#LogIn a{
    text-decoration: none;
    color: #000000;
}

.btn{
 cursor: pointer;
}

.go{
 cursor: pointer;
}